{% extends "main/base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container_address">
        <p>Адрес: г. Чебоксары, пр. М.Горького 18
            <br>
            Телефон: +7 (8352) 36-36-36
            <br>
            E-mail: denta21@mail.ru
            <br>
            Режим работы: Понедельник - пятница 8:00 - 20:00, Суббота 8:00-14:00,
            <br>
            Воскресенье - выходной
        </p>
</div>
{% endblock %}