{% extends "main/base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container_service">
        <h1>Стоимость <span>услуг</span></h1>
        <table border="1px">
            <tr>
                <th>Наименование услуги</th>
                <th>Лечение зубов без микроскопа</th>
                <th>Лечение зубов с микроскопом</th>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
            <tr>
                <td>Диагностическое вмешательство</td>
                <td>1 500 руб.</td>
                <td>1 500 руб.</td>
            </tr>
        </table>
</div>
{% endblock %}